[service]
port = 8082
;base-url = /
static-dir = static
recipes-output-dir = ../recipes
allow-cors-origin = *

[logging]
;access-logfile = 
;access-maxbytes = 1000000
;access-backupcount = 5
;error-logfile = 
;error-maxbytes = 1000000
;error-backupcount = 5

[ssl]
;certfile = 
;keyfile = 