html, body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #20262e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI";
  font-size: 14px;
}

#editor {
  margin: 0;
  width: 35em;
}

#recipe {
  margin: 0;
  width: 35em;
  padding: 0;
}

.recipe-hidden {
  display: none;
}

.outline-box {
  border-radius: 5px;
  box-shadow: 0px 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.toolbar {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.toolbar-button {
  font-family: "Segoe UI";
  color: #fff;
  text-decoration: none;
  background-color: #1c2128;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.toolbar-button:hover {
  color: #fff;
  text-decoration: none;
}

#toolbar-spinner {
  height: 100%;
}

h1 {
  font-family: "Segoe UI";
  font-size: 40pt;
  color: #fff;
  margin-top: 0.5em;
  text-shadow: 1px 1px 1px #000;
}

/* phone height */
@media (min-height: 0px) and (max-height: 540px) {
  #editor, #recipe {
    height: 20em;
  }

  h1 {
    margin-bottom: 0.50em;
  }
}

/* pc but small height */
@media (min-height: 540px) and (max-height: 620px) {
  #editor, #recipe {
    height: 25em;
  }

  h1 {
    margin-bottom: 0.60em;
  }
}

@media (min-height: 620px) {
  #editor, #recipe {
    height: 30em;
  }

  h1 {
    margin-bottom: 0.75em;
  }
}

@media (max-width: 767.98px) {
  .block, #editor, #recipe {
    width: 100%;
  }

  #editor, #recipe {
    border-radius: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block {
    width: 45%;
  }

  #editor, #recipe {
    width: 100%;
  }
}
