[service]
port = 8081
;base-url = /
cdn-url = http://localhost:8082
jinja2-templates-dir = templates
pandoc-templates-dir = D:/Personnel/pandoc-cookbook-template/templates
pandoc-templates = justonecookbook,cuisineaz
recipes-output-dir = ../recipes
wkhtmltopdf-bin = C:/Logiciels/wkhtmltopdf64/bin/wkhtmltopdf.exe

[logging]
;access-logfile = 
;access-maxbytes = 1000000
;access-backupcount = 5
;error-logfile = 
;error-maxbytes = 1000000
;error-backupcount = 5

[ssl]
;certfile = 
;keyfile = 