html, body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #20262e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI";
  font-size: 14px;
}

#pr-editor, #pr-preview {
  margin: 0;
  width: 35em;
  padding: 0;
}

#pr-editor-source {
  height: 100%;
}

#pr-editor-form {
  padding: 1em;
  border-radius: 5px;
  background-color: #211d1d;
  width: 100%;
  min-height: 100%;
}

#pr-editor-form label {
  color: white;
  font-weight: bold;
  width: 6em;
}

#pr-editor-form input {
  border-radius: 6px;
  width: 100%;
}

#pr-editor-form textarea {
  border-radius: 6px;
  width: 100%;
}

.pr-hidden {
  display: none;
}

.pr-outline-box {
  border-radius: 5px;
  box-shadow: 0px 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.pr-toolbar {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.pr-toolbar-button, .pr-toolbar-switch {
  font-family: "Segoe UI";
  color: #fff;
  text-decoration: none;
  background-color: #1c2128;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.pr-toolbar-switch.pr-toolbar-selected {
  background-color: #4e545a;
}

.pr-toolbar-button:hover, .pr-toolbar-switch:hover {
  color: #fff;
  text-decoration: none;
}

#pr-toolbar-spinner {
  height: 100%;
}

h1 {
  font-family: "Segoe UI";
  font-size: 40pt;
  color: #fff;
  margin-top: 0.5em;
  text-shadow: 1px 1px 1px #000;
}

/* phone height */
@media (min-height: 0px) and (max-height: 540px) {
  #pr-editor, #pr-preview {
    height: 20em;
  }

  h1 {
    margin-bottom: 0.50em;
  }
}

/* pc but small height */
@media (min-height: 540px) and (max-height: 620px) {
  #pr-editor, #pr-preview {
    height: 25em;
  }

  h1 {
    margin-bottom: 0.60em;
  }
}

@media (min-height: 620px) {
  #pr-editor, #pr-preview {
    height: 30em;
  }

  h1 {
    margin-bottom: 0.75em;
  }
}

@media (max-width: 767.98px) {
  .block, #pr-editor, #pr-preview {
    width: 100%;
  }

  #pr-editor, #pr-preview {
    border-radius: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block {
    width: 45%;
  }

  #pr-editor, #pr-preview {
    width: 100%;
  }
}
