<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>prettyrecipe.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ cdn_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ cdn_url }}/spin/spin.min.css">
    <link rel="stylesheet" type="text/css" href="{{ cdn_url }}/css/prettyrecipe.css">
    <script type="text/javascript" src="{{ cdn_url }}/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ cdn_url }}/ace/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ cdn_url }}/spin/spin.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ cdn_url }}/ace/mode-yaml.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ cdn_url }}/ace/theme-monokai.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js"></script>
	<script type="text/javascript" src="{{ cdn_url }}/js/prettyrecipe.js"></script>
  </head>
  <body class="row align-items-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h1>prettyrecipe.io</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto block">
          <div id="pr-editor" class="pr-outline-box">
            <pre id="pr-editor-source" class="pr-hidden" data-template-url="{{ cdn_url }}/sandbox.yaml"></pre>
            <div id="pr-editor-form">
              <form>
              	<div class="row">
              	  <div class="col-12">
	                <label for="pr-editor-form-title">Title:</label>
	                <input id="pr-editor-form-title" type="text"/>
	              </div>
	            </div>
	            <div class="row">
              	  <div class="col-4">
	                <label for="pr-editor-form-cuisine">Cuisine:</label>
	                <input id="pr-editor-form-cuisine" type="text"/>
	              </div>
              	  <div class="col-4">
	                <label for="pr-editor-form-difficulty">Difficulty:</label>
	                <input id="pr-editor-form-difficulty" type="text"/>
	              </div>
                  <div class="col-4">
	                <label for="pr-editor-form-rating">Rating:</label>
	                <input id="pr-editor-form-rating" type="number" min="0" max="5" value="1"/>
	              </div>
	            </div>
              	<div class="row">
              	  <div class="col-12">
	                <label for="pr-editor-form-keyword">Keyword:</label>
	                <input id="pr-editor-form-keyword" type="text"/>
	              </div>
	            </div>
              	<div class="row">
              	  <div class="col-12">
	                <label for="pr-editor-form-summary">Summary:</label>
	                <textarea id="pr-editor-form-summary"></textarea>
	              </div>
	            </div>
              </form>
            </div>
          </div>
          <div class="row pr-toolbar justify-content-between">
            <div class="col-auto">
              <a href="#" id="pr-toolbar-yaml" class="pr-toolbar-switch" style="float: left;">YAML</a>
              <a href="#" id="pr-toolbar-form" class="pr-toolbar-switch pr-toolbar-selected" style="float: left;">form</a>
           	</div>
           	<div class="col-auto">
		      <select id="pr-toolbar-template" style="float: left;">
		        {% for template in templates %}
			    <option value="{{ template }}" selected>{{ template }}</option>
			    {% endfor %}
			  </select>
              <a href="#" id="pr-toolbar-run" class="pr-toolbar-button" style="float: left;">Run</a>
              <div id="pr-toolbar-spinner" style="float: left;"></div>
            </div>
          </div>
        </div>
        <div id="pr-block" class="col-auto pr-hidden block">
          <iframe id="pr-preview" class="pr-outline-box" frameborder="0" allowfullscreen>
          </iframe>
          <div class="row pr-toolbar justify-content-lg-end justify-content-center">
            <div class="col-auto">
              <a href="#" id="pr-toolbar-print" class="pr-toolbar-button" style="float: left;">Print</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
