<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>recipe.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ cdn_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ cdn_url }}/spin/spin.min.css">
    <link rel="stylesheet" type="text/css" href="{{ cdn_url }}/css/theme.css">
    <script type="text/javascript" src="{{ cdn_url }}/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ cdn_url }}/ace/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ cdn_url }}/spin/spin.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ cdn_url }}/ace/mode-yaml.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ cdn_url }}/ace/theme-monokai.js" charset="utf-8"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ cdn_url }}/js/cookbook.js"></script>
  </head>
  <body class="row align-items-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h1>recipe.io</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto block">
          <pre id="editor" class="outline-box"></pre>
          <div class="row toolbar justify-content-lg-end justify-content-center">
            <div class="col-auto">
		      <select id="recipe-template" style="float: left;">
		        {% for template in templates %}
			    <option value="{{ template }}" selected>{{ template }}</option>
			    {% endfor %}
			  </select>
              <a href="#" id="toolbar-run" class="toolbar-button" style="float: left;">Run</a>
              <div id="toolbar-spinner" style="float: left;"></div>
            </div>
          </div>
        </div>
        <div id="recipe-block" class="col-auto recipe-hidden block">
          <iframe id="recipe-preview" class="outline-box" frameborder="0" allowfullscreen>
          </iframe>
          <div class="row toolbar justify-content-lg-end justify-content-center">
            <div class="col-auto">
              <a href="#" id="toolbar-open" class="toolbar-button" style="float: left;">Open</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
